.glyphBox {
  fill: ivory;
  stroke: darkgrey;
  stroke-dasharray: 4 1;
}

.sbolv_glyph {
  fill: aqua;
  stroke: black;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.sbolv.promoter {
  .sbolv_glyph {
    fill: none;
  }
}