@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("../../../public/stylesheets/main.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("../../../public/stylesheets/sbolv.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("../../../public/images/favicon.png")">
  </head>
  <body>
    <!-- for production (play dist), use the optimized version instead -->
      <script src="@routes.Assets.at("javascripts/sbolv_js-fastopt.js")" type="text/javascript"></script>
      @content
  </body>
</html>
