@(title: String, previous: Option[String], next: Option[String])(content: Html)(footer: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("../../../public/stylesheets/main.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slide.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("../../../public/images/favicon.png")">
    <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
  </head>
  <body>
      <div id="slide_title">@title</div>
      <div id="slide_content">
          <div id="slide_content_text">@content</div>
          <div id="slide_content_figure"></div>
      </div>
      <div id="slide_footer">@footer</div>
      <div id="slide_navigation">
          <span class="previous" onclick='window.open("@{previous.getOrElse("")}", "_self")'> <| </a> </span>
          <span class="first"> |> </span>
          <span class="back"> <- </span>
          <span class="current"> ? </span>
          <span class="forward"> -> </span>
          <span class="last"> <| </span>
          <span class="next" onclick='window.open("@{next.getOrElse("")}", "_self")'> |> </a> </span>
      </div>
      <script src="@routes.Assets.at("javascripts/nine_worlds_talk_js-fastopt.js")" type="text/javascript"></script>
      <script>
          Navigation().wireNavigation();
      </script>
  </body>
</html>
