@()

@templates.main("CDS") {
    <h1>CDS Glyph</h1>
    <p>
        The SBOL CDS symbol is a rectangle with a triangular end.
    </p>

    <div id="scaled_example">
        <h2>Glyph Designer</h2>
        <p>
            The CDS symbol has a variable width, depth, arrow head size
        </p>

        <div class="sliders"></div>
        <div class="glyphs"></div>
    </div>

    <div id="shortcode_example"><H2>Shortcodes</H2></div>

    <script>
    CdsDemo().wireScaledExample("scaled_example", "shortcode_example");
    </script>
}
