@()

@templates.main("SBOLv Web Widgets") {
    <p>
        The SBOLv Web Widgets toolkit provides SBOLv symbols directly in your browser. They are rendered as interactive
        SVG, and can be fully styled using standard SVG CSS.
    </p>

    <p>
        Two APIs are provided for working with the SBOLv Web Widgets. For people writing web pages who need to embed
        static SBOLv symbols, there is a shortcodes hook. For people building powerful, interactive visualisations,
        there is full programatic access to the widgets themselves.
    </p>

    <p>
        The library is under active development. At this time, there is support for
            <a href="ribosomeEntrySite.html">res</a>
            <a href="cds.html">cds</a> and
            <a href="promoter.html">promoter</a> symbols, together with
            <a href="fixedOrProportional.html">fixed-width</a> layout.
    </p>

    <p>
        Shorcodes are easy to use. The shortcodes are written like HTML tags but with square boxes. So for example, to
        render a cds, use [cds][/cds]. To activate shortcode handling, include <a href="http://localhost:9000/public/javascripts/sbolv_js-fastopt.js">sbolv.js</a> your page.
        Then in each element were you want shortcodes to be processed, add a script that runs
        <code>SBOLv().shortcodes()</code> as the last child.
    </p>
    <p>
        Shortcodes can render all supported SBOLv symbols, including [cds]cds[/cds], [promoter]pro[/promoter], [res]res[/res] and [term]term[/term].
        It can also lay out a series of symbols [sbolv width="40"]p> r> c> t> c< r< t< p<[/sbolv] inline.

        <script>
        SBOLv().shortcodes()
        </script>
    </p>
}
