@()

@templates.main("Fixed width and proportional width") {
    <p>
        SBOL Visual symbols can be rendered fixed-width or proportional width.
        In Fixed width, all symbols take up the same horizontal space and are drawn one next to the other.
        In proportional width, symbols are scaled horizontally relative to the underlying DNA, and are spaced out along the DNA.
    </p>

    <div id="fixed_width_example">
        <p>
            This is a fixed-width SBOLv display. You can add new items by clicking on the buttons. Then click a glyph
            to edit its label(s).
        </p>

        <div>
            <div style="display: inline-block">
                <p>Length: <span class="length"></span></p>
                <input type="range" name="length" min="40" max="100" value="40" class="length_slider">
            </div>

            <div style="display: inline-block">
                <div class="rightwards">
                    <button value="promoter_rightwards">[promoter dir=">"/]</button>
                    <button value="res_rightwards">[res dir=">"/]</button>
                    <button value="cds_rightwards">[cds dir=">"/]</button>
                    <button value="term_rightwards">[term dir=">"/]</button>
                </div>
                <div class="leftwards">
                    <button value="promoter_leftwards">[promoter dir="<"/]</button>
                    <button value="res_leftwards">[res dir="<"/]</button>
                    <button value="cds_leftwards">[cds dir="<"/]</button>
                    <button value="term_leftwards">[term dir="<"/]</button>
                </div>
                <script>SBOLv().shortcodes()</script>
            </div>
        </div>
        <div>
            <svg width = 600 height = 300 class="glyphs" style="background-color: whitesmoke">
                <g class="track" transform="translate(0, 150)"></g>
            </svg>
        </div>
    </div>

    <div id="shortcode_example">
        <p>You can embed multiple elements using their shortcodes.</p>
        <p>[promoter/][cds/]</p>
        <p>If you use individual shortcodes, they are each laid out independently of one-another.
            You can render a string of symbols using the [sbolv/] shortcode. The content is a series of pigeoncad
        single-letter codes and orientation indicated with >/<, separated by spaces.</p>
        <p>[sbolv]p> r> c>"gfp" t> t< r< c<"lacI" p<[/sbolv]</p>

        <div style="border-color: black; border-style: solid;">
            <p>You can embed multiple elements using their shortcodes.</p>
            <p>[promoter/][cds/]</p>
            <p>If you use individual shortcodes, they are each laid out independently of one-another.
                You can render a string of symbols using the [sbolv/] shortcode. The content is a series of pigeoncad
            single-letter codes and orientation indicated with >/<, separated by spaces.</p>
            <p>[sbolv]p> r> c>"gfp" t> t< r< c<"lacI" p<[/sbolv]</p>
            <script>SBOLv().shortcodes()</script>
        </div>
    </div>

    <script>
    FixedOrProportionalDemo().wireFixedWidthExample("fixed_width_example");
    </script>
}
