@()

@templates.main("Pigeon parser") {

    <script src="@routes.Assets.at("javascript/pigeon-parser.js")" type="text/javascript"></script>

    <textarea id="pigeon" rows=32 cols=64>
o A 1
<t t
<c c2 2
<r r1 1
<p p1 6
p p2 2
r r2 5
c c1 6
t t
o B 1
v KanR 1
# Arcs
c1 rep p1
c2 rep p2
y rep c1-p1
x rep c2-p2
    </textarea>

    <textarea id="json" rows=32 cols=64 disabled="disabled">
    </textarea>

    <div id="example">

        <div style="display: inline-block">
            <p>Length: <span class="length"></span></p>
            <input type="range" name="length" min="40" max="100" value="40" class="length_slider">
        </div>

        <div>
            <svg width=600 height=300 class="glyphs" style="background-color: whitesmoke">
                <g class="track" transform="translate(0, 150)"></g>
            </svg>
        </div>
    </div>

    <script>
    PigeonParserDemo().wireExample("example");
    </script>
}
