@()

@templates.main("PrimerBindingSite") {
    <h1>PBS Glyph</h1>
    <p>
        The SBOL symbol for a primer binding site is a line with a tick.
    </p>

    <div id="scaled_example">
        <h2>Glyph Designer</h2>
        <p>
            The primer binding site symbol has a variable width, depth and tick position.
        </p>

        <div class="sliders"></div>
        <div class="glyphs"></div>
    </div>

    <div id="shortcode_example"><H2>Shortcodes</H2></div>

    <script>
    PrimerBindingSiteDemo().wireScaledExample("scaled_example", "shortcode_example");
    </script>
}
