@()

@templates.main("Promoter") {
    <h1>Promoter Glyph</h1>
    <p>
        The SBOL Promoter symbol is an arrow with a horizontal and vertical segment.
    </p>

    <div id="scaled_example">
        <h2>Glyph Designer</h2>
        <p>
            The Promoter symbol has a variable vertical size, horizontal size, arrow height and arrow width.
        </p>

        <div class="sliders"></div>
        <div class="glyphs"></div>
    </div>

    <div id="shortcode_example"><H2>Shortcodes</H2></div>

    <script>
    PromoterDemo().wireScaledExample("scaled_example", "shortcode_example");
    </script>
}