@()

@templates.main("ProteaseSite") {
    <h1>Protease Site Glyph</h1>
    <p>
        The SBOL symbol for a protease site is an X with a stem.
    </p>

    <div id="scaled_example">
        <h2>Glyph Design</h2>
        <p>
            The symbol for a protease site has a variable width, depth and stem length.
        </p>

        <div class="sliders"></div>
        <div class="glyphs"></div>
    </div>

    <div id="shortcode_example"><h2>Shortcodes</h2>
    </div>

    <script>
    ProteaseSiteDemo().wireScaledExample("scaled_example", "shortcode_example");
    </script>
}
