@()

@templates.main("Terminator") {
    <p>
        The SBOL symbol for a terminator is a T shape.
    </p>

    <div>
        <div style="display: inline-block">
            <div>Rightwards: represents a terminator on the forward/top strand.</div>
            <svg width = 110 height = 110>
                <rect x="5" y="5" width="100" height="100" fill="ivory" stroke = "darkgrey" stroke-dasharray="4 1"/>
                <path d="M20 35 L90 35 M55 35 L55 90 Z" stroke="black" stroke-width="3px" stroke-linejoin="round"></path>
            </svg>
        </div>

        <div style="display: inline-block">
            <div>Leftwards: represents a terminator on the backwards/reverse-complement/bottom strand.</div>
            <svg width = 110 height = 110>
                <rect x="5" y="5" width="100" height="100" fill="ivory" stroke = "darkgrey" stroke-dasharray="4 1"/>
                <path d="M20 90 L90 90 M55 90 L55 35 Z" stroke="black" stroke-width="3px" stroke-linejoin="round"></path>
            </svg>
        </div>
    </div>

    <div id="scaled_example">
        <p>
            The symbol for a terminator has a variable width and depth.
        </p>

        <div>
            <div style="display: inline-block">
                <p>Length: <span class="length"></span></p>
                <input type="range" name="length" min="20" max="300" value="80" class="length_slider">
            </div>
            <div style="display: inline-block">
                <p>Depth: <span class="depth"></span></p>
                <input type="range" name="depth" min="20" max="300" value="80" class="depth_slider">
            </div>
        </div>
        <div>
            <div style="display: inline-block">
                <div>Top strand</div>
                <svg width = 320 height = 320>
                    <g class="scaled_term_top"></g>
                </svg>
            </div>

            <div style="display: inline-block">
                <div>Bottom strand</div>
                <svg width = 320 height = 320>
                    <g class="scaled_term_bottom"></g>
                </svg>
            </div>
        </div>
    </div>

    <div id="alignment_example">
        <p>
            The terminator symbol can be aligned to the backbone in three modes: backbone-centred,
            above-strand and below-strand. The strand-centred terminator is centred on the backbone line.
            For above-strand and below-strand, it is always placed that side. The outside
            label is always placed furthest from the strand.
        </p>

        <div>
            <div style="display: inline-block">
                <svg width = 100 height = 120>
                    <g class="term_on_backbone" transform="translate(0 50)"></g>
                </svg>
            </div>

            <div style="display: inline-block">
                <p>Direction:</p>
                <p><span class="direction"></span></p>
                <form>
                    <div><input type="radio" name="direction" value="rightwards" checked="true">Forward</div>
                    <div><input type="radio" name="direction" value="leftwards">Reverse</div>
                </form>
            </div>

            <div style="display: inline-block">
                <p>Alignment mode:</p>
                <p><span class="alignment"></span></p>
                <form>
                    <div><input type="radio" name="alignment" value="above_backbone">Above</div>
                    <div><input type="radio" name="alignment" value="centred_on_backbone" checked="true">Centred</div>
                    <div><input type="radio" name="alignment" value="below_backbone">Below</div>
                </form>
            </div>
        </div>
    </div>

    <div id="shortcode_example">
        <p>You can embed terminator symbols directly into the flow of text by using SBOLv the terminator shortcode
            <code>[term]fish[/term]</code> within normal text. If you don't need a label you can either use an empty
            shortcode ([term][/term]) or a self-closing shortcode ([term/]). The width and height of the symbol can be set
            manually as in [term width="100"]looong[/term] and [term width="20"/] and the orientation with
            [term dir="<"/] and [term dir=">"/].</p>

        <div style="border-color: black; border-style: solid;">
            <p>You can embed terminator symbols directly into the flow of text by using SBOLv the terminator shortcode
                <code>[term]fish[/term]</code> within normal text. If you don't need a label you can either use an empty
                shortcode ([term][/term]) or a self-closing shortcode ([term/]). The width and height of the symbol can be set
                manually as in [term width="100"]looong[/term] and [term width="20"/] and the orientation with
                [term dir="<"/] and [term dir=">"/].</p>
            <script>SBOLv().shortcodes()</script>
        </div>

        <p>Shortcode processing is enabled within part of your document by including <code>SBOLv().shortcodes()</code>
        in a &lt;script&gt; element. This will apply shortcodes to all of its siblings</p>
    </div>

    <script>
    TerminatorDemo().wireScaledExample("scaled_example");
    TerminatorDemo().wireAlignmentExample("alignment_example");
    </script>
}
